*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --cardBg: #D3E1F7;
    --blue: #6B95FF;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 540px;
    width: 720px;
    background-color: var(--cardBg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen{
    height: 487px;
    width: 224px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.topPanel{
    width: 180px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #D3E1F7;
}
img{
    height: 164px;
    width: 164px;
    border-radius: 50%;
    border: 3px solid black;
}
.songName{
    height: auto;
    width: auto;
    text-align: center;
}
p{
    font-size: 10px;
}
.seekBar{
    width: 163px;
    border-bottom: 3px solid var(--blue);
    border-radius: 10px;
}
.btnRow{
    height: 48px;
    width: 163px;
    display: flex;
    justify-content: space-between;
}
#controls{
    height: 48px;
    width: 48px;
}
.pause{
    background-color: var(--blue)
}